[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "*"
flask = "*"
flask-socketio = "*"
eventlet = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.9"
